@function myClamp($min, $max, $min-view-port: 375, $max-view-port: 1920) {
    $valiable-part: calc(($max - $min) / ($max-view-port - $min-view-port));
    $constant: calc(($max - $max-view-port * $valiable-part) / 10);
    $min-rem: calc($min / 10 * 1rem);
    $max-rem: calc($max / 10 * 1rem);
    $variable-rem: calc($constant * 1rem);
    $variable-vw: calc(100 * $valiable-part * 1vw);

    @return clamp($min-rem, $variable-rem + $variable-vw, $max-rem);
}
