/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@use "function" as f;
@use "module" as *;

/*==================================================
 * 全サイト共通
 *================================================*/

/*共通部分*/
:root {
    --header: 100px;
    scroll-padding: var(--header);
}

//中央absolute
@mixin centerAbsolute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//疑似コンテンツ
@mixin content {
    content: "";
    display: block;
    position: absolute;
}
/*パンくず*/
/*パンくず終わり*/

@mixin vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-feature-settings: normal;
    white-space: nowrap;
}

.vertical {
    @include vertical();
}

.verticalReverse {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

.verticalPc {
    @include sp {
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    }
}

@mixin arrow {
    position: absolute;
    display: block;
    font-family: "Font Awesome 6 Pro";
}

//お問い合わせページには表示させる
.grecaptcha-badge {
    visibility: hidden;
}
.contact .grecaptcha-badge,
.contact_request .grecaptcha-badge {
    visibility: visible;
}

/*==================================================
 * 当サイトのみ共通
 *================================================*/
.loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    &.is-active {
        opacity: 0;
        visibility: hidden;
    }
}
.logoBox {
    width: 300px;
    margin-inline: auto;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #fff;
    @include sp {
        width: 250px;
    }
}

.loading-animation {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background: $mainColor;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}
.loadTitle {
    font-size: f.myClamp(17, 35);
    letter-spacing: 0.1em;
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
}

address {
    font-style: normal;
}
.headerInner {
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    @include spTab {
        width: 100%;
    }
}
main {
    margin-top: 108px;
    .home & {
        margin-top: 108px;
    }
    @include sp {
        margin-top: 56px;
        .home & {
            margin-top: 56px;
        }
    }
    @include tab {
        margin-top: 119px;
        .home & {
            margin-top: 101px;
        }
    }
    @include note {
        margin-top: 127px;
        .home & {
            margin-top: 108px;
        }
    }
}

.submit-btn input,
.submit-btn button {
    .confirm & {
        font-size: f.myClamp(15, 16);
    }
    margin-top: 2%;
    width: 400px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $mainColor;
    border: solid 1px $mainColor;
    color: #fff;
    padding: 1em 4em 0.8em;
    border-radius: 50px;
    font-size: f.myClamp(18, 26);
    line-height: 1;
    display: inline-block;
    transition: 0.3s;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    &:hover {
        background: #e50000;
        border: solid 1px #e50000;
    }
    @include sp {
        margin-top: 6%;
        font-size: 12px;
        letter-spacing: 0.08em;
        padding: 0 4em;
        height: 47px;
    }
    @include tabNote {
        margin-top: 3%;
        padding: 0 4em;
        height: 50px;
    }
}
.submit-back {
    margin-right: 7px;
    margin-top: 2%;
    input,
    button {
        color: #fff;
        background: #606060;
        border: solid 1px #606060;
        &:hover {
            background: $mainColor;
            border: solid 1px $mainColor;
        }
    }
}
.submit-next {
    input,
    button {
        color: #fff;
        background: $mainColor;
        border: solid 1px $mainColor;
        &:hover {
            background: #e50000;
            border: solid 1px #e50000;
        }
    }
    margin-left: 7px;
    margin-top: 2%;
}

.boxSadow {
    box-shadow: 2px 1px 6px 1px rgb(0 0 0 / 6%);
}

.textSadow2 {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.textSadow {
    text-shadow:
        8px 8px 8px #fff,
        -8px -8px 8px #fff,
        -8px 8px 8px #fff,
        8px -8px 8px #fff,
        8px 0px 8px #fff,
        -8px 0px 8px #fff,
        0px 8px 8px #fff,
        0px -8px 8px #fff;
    @include sp {
        text-shadow:
            5px 5px 5px #fff,
            -5px -5px 5px #fff,
            -5px 5px 5px #fff,
            5px -5px 5px #fff,
            5px 0px 5px #fff,
            -5px 0px 5px #fff,
            0px 5px 5px #fff,
            0px -5px 5px #fff;
    }
}

.commonTitleWrap {
    .topPhiloCard & {
        top: 79%;
        left: 50%;
    }
    position: absolute;
    width: 100%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.commonTitleJp {
    font-size: f.myClamp(24, 40);
    line-height: 1.4;
    font-weight: bold;
    @include sp {
        letter-spacing: 0.04em;
        &.__sp {
            font-size: 30px;
            line-height: 1.2;
        }
        &.__xsp {
            font-size: 20px;
            line-height: 1.4;
        }
        &.__msp {
            font-size: 26px;
            line-height: 1.4;
        }
    }
}
.commonTitleEn {
    .topPhiloCard & {
        color: #fff;
        margin-left: -38px;
    }
    .topFormCard & {
        color: #fff;
        opacity: 0.2;
    }
    .topFaqCard & {
        color: #fff;
    }
    font-size: f.myClamp(80, 150);
    font-weight: 700;
    font-family: $fontEn;
    line-height: 1;
    color: #e5eaf1;
    @include sp {
        .topPhiloCard & {
            position: absolute;
            top: -73px;
            right: 0;
            writing-mode: vertical-lr;
            color: #fff;
            margin-left: -38px;
        }
    }
    @include tabNote {
        .topPhiloCard & {
            margin-left: -6px;
        }
    }
}
.commonSubText {
    &.__small {
        font-size: f.myClamp(15, 16);
        line-height: 1.6;
    }
    font-size: f.myClamp(15, 18);
    line-height: 1.6;
    font-weight: 600;
    @include sp {
        &.__small {
            line-height: 1.8;
        }
    }
}

.commonBtn {
    font-size: f.myClamp(13, 16);
    margin-inline: auto;
    font-weight: 500;
    text-align: center;
    display: block;
    letter-spacing: 0.2em;
    line-height: 1;
    color: #fff;
    width: 184px;
    background-color: $mainColor;
    padding: 1em 0.5em;
    border-radius: 50px;
    line-height: 1;
    transition: 0.3s;
    font-weight: 500;
    &:hover {
        background-color: $mainColorSub;
        color: #fff;
    }
}

.commonMidashi_1 {
    font-size: f.myClamp(18, 30);
    padding: 0.6em 0 0.6em 1em;
    font-weight: 500;
    display: block;
    color: #fff;
    position: relative;
    &::after {
        @include content;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        background-image: url(.././img/title.png);
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
}

.commonText {
    &.__lh {
        line-height: 2;
    }
    font-size: f.myClamp(15, 16);
    font-weight: 500;
    line-height: 1.6;
}
.textComent {
    text-indent: 1em;
    margin-left: 1em;
    font-size: f.myClamp(13, 14);
    line-height: 1.4;
}
.commonComent {
    line-height: 1.3;
    letter-spacing: 0.07em;
    font-size: f.myClamp(12, 13);
    &.__top {
        margin-top: 5px;
    }
}
.textLink {
    transition: 0.3s;
    &:hover {
        opacity: 0.7;
    }
}
.alink {
    text-decoration: underline;
    text-underline-offset: 3px;
    &.footerLink {
        color: #abadc6;
        text-decoration-color: #abadc6;
    }
    color: $mainColor;
    -webkit-text-decoration-color: $mainColor;
    text-decoration-color: $mainColor;
    transition: 0.3s;
    &:hover {
        color: $grayColor;
        -webkit-text-decoration-color: unset;
        text-decoration-color: unset;
    }
}
ul {
    list-style-type: disc !important;
}
.comment {
    &.__large {
        font-size: f.myClamp(15, 17);
        line-height: 1.6;
        text-indent: -0.7em;
        padding-left: 0.9em;
    }
    &.__small {
        font-size: f.myClamp(13, 14);
        line-height: 1.2;
        text-indent: -0.7em;
        padding-left: 0.9em;
    }

    font-size: f.myClamp(15, 16);
    line-height: 1.6;
    text-indent: -1.2em;
    padding-left: 1.4em;
}
.text_Indent {
    text-indent: -1.5em;
    padding-left: 3.5em;
}
.text_link {
    text-decoration: underline;
    color: $mainColor;
    transition: 0.3s;
    &:hover {
        color: $mainColorSub;
    }
}

.commonList {
    row-gap: 10px;
    flex-direction: column;
    span {
        display: block;
        font-size: f.myClamp(14, 15);
        line-height: 1.4;
        font-weight: 500;
        position: relative;
        padding-left: 0.8em;
        &::after {
            @include content;
            left: 0;
            top: 8px;
            width: 8px;
            height: 8px;
            background-color: $mainColor;
            border-radius: 50%;
        }
    }
}
.commontitle_line span {
    background: linear-gradient(transparent 65%, rgb(255, 241, 0) 0%);
}
.center_position {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.videoBlock {
    width: 70%;
    margin-inline: auto;
    @include sp {
        width: 100%;
    }
    @include tab {
        width: 80%;
    }
    @include note {
        width: 90%;
    }
}
.videoWrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*==================================================
 * ヘッダー
 *================================================*/
.cf7msm-ro {
    text-transform: none !important;
}
header {
    position: fixed;
    top: 0; /* margin-top の代わりに top を使う */
    z-index: 998;
    width: 100%;
    padding: 3.6em 2em;
    background-color: #fff;
    transition: 0.3s;
    .change-color & {
        padding: 2.4em 2em;
        background-color: rgba(255, 255, 255, 0.9);
    }
    @include sp {
        padding: 2em 1em;
        .change-color & {
            padding: 1.7em 1em;
        }
    }
}

.ahover {
    transition: 0.3s;
    a:hover & {
        opacity: 0.7;
    }
}

.headerlogoBlock {
    position: absolute;
    top: 17px;
    width: 450px;
    background-color: #fff;
    padding: 0.5em 0.5em 0.1em;
    border-radius: 5px;
    left: 85px;
    transition: 0.3s;
    .change-color & {
        top: 10px;
        width: 300px;
    }
    @media only screen and (max-width: 1430px) {
        left: 19px;
        width: 400px;
    }
    @include sp {
        top: 1px;
        left: 14px;
        width: 291px;
        .change-color & {
            top: 1px;
            left: 0;
            width: 243px;
        }
    }
    @include tab {
        left: 2px;
        top: 13px;
        width: 273px;
        .change-color & {
            top: 1px;
            left: 0;
            width: 218px;
        }
    }
    @include note {
        left: 2px;
        top: 13px;
        width: 320px;
    }
}
.logoImg {
    .change-color & {
        &.__white {
            display: none;
        }
        &.__black {
            display: block;
        }
    }
    @include sp {
        &.__white {
            display: none !important;
        }
        &.__black {
            display: block;
        }
        .home & {
            &.__black {
                display: block;
            }
        }
    }
}
.headerTopMenuBlock {
    position: absolute;
    top: 18px;
    right: 88px;
    .change-color & {
        top: 5px;
    }
    @media only screen and (max-width: 1430px) {
        right: 22px;
    }

    @include tab {
        width: 100%;
        right: 12px;
    }
    @include note {
        right: 25px;
    }
}
.topContactWrap {
    column-gap: 21px;
    .change-color & {
        margin-bottom: 0;
    }
}
.topBtn {
    .overRayTextCard & {
        width: 300px;
        font-size: f.myClamp(16, 16);
        line-height: 1;
        padding: 1em 0.5em;
    }
    display: block;
    font-size: f.myClamp(14, 15);
    line-height: 1;
    font-weight: bold;
    padding: 0.7em 1.2em;
    border-radius: 50px;
    color: #fff;
    background-color: #e50000;
    transition: 0.3s;
    .change-color & {
        font-size: f.myClamp(13, 14);
        padding: 0.5em 1em;
    }
    &:hover {
        color: #fff;
        background-color: $mainColor;
    }
}
.topTel {
    font-size: f.myClamp(30, 40);
    font-weight: 900;
    line-height: 1;
    font-family: $fontEn;
    color: $mainColor;
    position: relative;
    transition: 0.3s;
    .change-color & {
        font-size: f.myClamp(18, 25);
        &::after {
            width: 20px;
            height: 22px;
            left: -25px;
            background-size: 20px;
        }
    }
    &::after {
        @include content;
        top: 50%;
        left: -42px;
        width: 32px;
        height: 35px;
        transform: translateY(-50%);
        background-image: url(.././img/tel.svg);
        background-repeat: no-repeat;
        background-size: 32px;
    }
}
.headerMenuCard {
    > li {
        transition: 0.3s;
        &:last-child {
            > a {
                padding-right: 0;
            }
        }
        &.current {
            > a {
                color: $mainColorSub;
            }
        }
        > a {
            display: inline-block;
            letter-spacing: 0.15em;
            font-size: f.myClamp(15, 16);
            text-align: center;
            display: block;
            font-weight: bold;
            line-height: 1;
            padding: 0.5em 1em;
            transition: 0.3s;
            &:hover {
                color: $mainColorSub;
            }
        }
    }
    .change-color & {
        > li {
            > a {
                padding: 0.5em 0.7em;
            }
        }
    }
    @include tab {
        > li {
            > a {
                font-size: 14px;
                padding: 0.5em 0.7em;
            }
        }
        .change-color & {
            > li {
                > a {
                    font-size: 13px;
                    padding: 0.8em 0.4em;
                }
            }
        }
    }
    @include note {
        > li {
            > a {
                font-size: 14px;
                padding: 0.7em 0.5em;
            }
        }
        .change-color & {
            > li {
                > a {
                    font-size: 13px;
                    padding: 0.8em 0.4em;
                }
            }
        }
    }
}

.overRayMenuUl {
    //color: #fff;
    margin-bottom: 13%;
    > li {
        position: relative;
        font-size: 16px;
        padding: 1.6rem 0.8rem;
        font-weight: 500;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-color: #fff;
        }
        a {
            display: block;
            transition: 0.3s;
            position: relative;
            font-weight: 500;
            &::before,
            &::after {
                position: absolute;
                display: block;
                font-family: "Font Awesome 6 Pro";
                font-size: 20px;
                line-height: 1;
                width: 25px;
                height: 25px;
                top: 50%;
                right: -7px;
                transform: translateY(-50%);
                font-weight: 100;
                z-index: 1;
                // transform: translateZ(1px);
                transition: 0.3s;
                opacity: 1;
            }
            &::before {
                content: "\f105";
                right: -7px;
            }
            &.hasMegaMenuA {
                &::before {
                    content: "\f107";
                    right: -5px;
                }
                &.on {
                    padding-bottom: 5%;
                    &::after {
                        content: "\f077";
                        right: -5px;
                    }
                    &::before {
                        opacity: 0;
                    }
                }
            }

            &:hover {
                opacity: 0.5;
            }
            > ul {
                &:not(:last-child) {
                    > li {
                        padding: 30em;
                    }
                }
            }
        }
    }
    @include tab {
        > li {
            padding: 1.6rem 1rem;
        }
    }
}
.overRayBlock {
    display: flex;
    width: 442px;
    margin-left: auto;
    // height: 100vh;
    overflow-y: scroll;
    position: relative;
    z-index: 9999;
    @include sp {
        width: 100%;
    }
}
.overRayImgCard {
    width: 50%;
    @include sp {
        width: 30%;
    }
}
.overRayBtn {
    display: block;
    width: 80%;
    margin-inline: auto;
    padding: 1em;
    text-align: center;
    background-color: #e50000;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
}
.overRayTextCard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 15px 70px;
    background-color: $mainColor;
    @include maxSpTab {
        padding-top: 33px;
    }
    @include sp {
        width: 100%;
        padding: 93px 22px 0;
        padding-bottom: 30%;
    }
}

/*==================================================
 * header
 *================================================*/
.topFvImg {
    padding-bottom: clamp(350px, 42%, 806px);
    position: relative;
    z-index: -2;
    @include sp {
        padding-bottom: 130%;
        background-image: url(.././img/topFv_sp.jpg) !important;
    }
}
.topFvTextWrap {
    position: absolute;
    top: 17em;
    right: 0;
    @include sp {
        top: 8.7em;
        left: 50%;
        right: unset;
        transform: translateX(-50%);
    }
    @include tab {
        top: 12em;
        right: 42px;
    }
}
.topFvWrap {
    max-width: 886px;
    padding: 0 97px;
    position: absolute;
    top: 51%;
    left: 0;
    transform: translateY(-50%);
    @media only screen and (max-width: 1480px) {
        width: 49%;
        padding: 0 30px;
    }
    @include sp {
        width: 100%;
        padding: 0 15px;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
    }
    @include tab {
        width: 49%;
        top: 50%;
        left: 0;
        padding: 0 15px;
    }
    @include note {
        width: 49%;
        top: 48%;
        left: 0;
        padding: 0 15px;
    }
}
.topFvTitleWrap {
    @include tabNote {
        margin-bottom: 4%;
    }
}
.topAwardBlock {
    width: 65%;
    margin-inline: auto;
    @include sp {
        width: 79%;
    }
    @include tab {
        width: 70%;
    }
    @include note {
        width: 66%;
    }
}
.topFvTitle {
    font-size: f.myClamp(28, 57);
    line-height: 1.4;
    font-weight: 600;
}
.toplogoBlock {
    width: 686px;
    background-color: #fff;
    padding: 1.3em;
    border-radius: 5px;
    @include sp {
        width: 100%;
        padding: 0.5em;
    }
    @include tab {
        width: 87%;
        padding: 0.5em;
    }
    @include note {
        width: 87%;
        padding: 0.5em;
    }
}
.topFvBtnWrap {
    position: absolute;
    padding: 0 87px;
    right: 0;
    bottom: 11%;
    @media only screen and (max-width: 1480px) {
        padding: 0 15px;
        bottom: 7%;
    }
    @include sp {
        left: 50%;
        bottom: 0;
        width: 100%;
        transform: translateX(-50%);
        padding: 0 15px;
    }
    @include tabNote {
        padding: 0 15px;
        bottom: 7%;
    }
}
.topFvBtn {
    display: block;
    font-size: f.myClamp(28, 37);
    padding: 0.5em 3.6em 0.7em 1em;
    border-radius: 50px;
    background: linear-gradient(to right, #af0000 0%, #e50000 100%);
    box-shadow: inset 0 -8px 8px -4px rgba(0, 0, 0, 0.3);
    line-height: 1;
    font-weight: bold;
    transition: 0.3s;
    &::after {
        @include content;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background: linear-gradient(to right, #480000 0%, #e50000 100%);
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.3s;
    }
    sub {
        color: #ffe600;
        font-weight: bold;
        line-height: 1;
    }
    &:hover {
        color: #fff;
        background: #232323;
        &::after {
            top: 7px;
        }
    }
    @include sp {
        padding: 0.5em 1em 0.7em 1em;
    }
}
.topbtnImgWrap {
    position: absolute;
    width: 279px;
    top: -79px;
    right: -16px;
    z-index: 0;
    @include sp {
        width: 79%;
        top: unset;
        right: -13px;
        bottom: 0;
    }
    @include tab {
        width: 64%;
        top: -73px;
    }
    @include note {
        width: 64%;
        top: -77px;
    }
}
/*==================================================
 * pagenation*/

:root {
    --swiper-theme-color: #fff;
}

/*==================================================
 * フッター
 *================================================*/
footer {
    padding: 3em 0 0;
    @include sp {
        padding: 2em 0 0;
    }
}
.footerlogoImg {
    width: 35%;
    margin-inline: auto;
    @include sp {
        width: 100%;
    }
    @include tabNote {
        width: 50%;
    }
}

.footerBtn {
    cursor: pointer;
    position: fixed;
    right: 0.6%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $mainColor;
    transition: 0.3s;
    z-index: 9999;
    display: none;
    &.visible {
        display: block;
    }
    &::after {
        @include arrow;
        content: "\f077";
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @include maxSpTab {
        display: none !important;
    }
}
.footerMenueBlock {
    width: fit-content;
    margin-inline: auto;
    @include sp {
        width: 100%;
        justify-content: flex-start;
        column-gap: 40px;
    }
}
.footerMenue {
    > li {
        > a {
            display: block;
            font-size: f.myClamp(15, 16);
            font-weight: 600;
            padding: 0 1em;
            line-height: 1;
            transition: 0.3s;
            &:hover {
                color: $mainColorSub;
            }
        }
    }
    @include sp {
        row-gap: 18px;
        justify-content: space-between;
    }
}
.footerCopy {
    padding: 3.3em 0;
    @include sp {
        padding: 1em 0 2em;
    }
    @include tabNote {
        padding: 2em 0;
    }
}
.copylight {
    font-size: f.myClamp(10, 12);
    font-weight: 600;
    font-family: $fontEn;
}
/*==================================================
 * 下層section
 *================================================*/
/*トップページ
*================================================*/
.commonFvImg {
    @include sp {
        background-image: url(.././img/commonFv_sp.jpg) !important;
        position: relative;
        &::after {
            @include content;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 400px;
            background-image: linear-gradient(180deg, transparent 0 50%, #003277 100%);
            z-index: 0;
        }
    }
}
.commonFvWrap {
    position: relative;
    padding: 6.2em 0;
    z-index: 9;
    @include sp {
        padding: 4.7em 0;
    }
    @include tab {
        padding: 2.5em 1em;
    }
    @include note {
        padding: 3.2em 0;
    }
}
.commonFvTitleJp {
    font-size: f.myClamp(28, 40);
    line-height: 1.6;
    font-weight: bold;
    @include sp {
        line-height: 1.6;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    }
}
.commonFvTitleEn {
    font-size: f.myClamp(16, 20);
    font-family: $fontEn;
    line-height: 0.6;
    font-weight: 500;
}
.breadBrock {
    padding: 1em 0 2em;
    @include sp {
        padding: 1em 0;
    }
}
.breadcrumbs {
    font-size: 12px;
    font-weight: 500;
    .current-item {
        color: $mainColor;
    }
    a {
        transition: 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
    @include sp {
        font-size: 13px;
    }
}
.topVideoWrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*==================================================
 * よくある問題
 *================================================*/
.problem_backImg {
    @include sp {
        background-image: url(.././img/problem_back_sp.jpg) !important;
    }
}
.topProblemInnerBlock {
    padding: 4em 0;
    @include sp {
        padding: 1.5em 0 1.8em;
    }
}
.problemList {
    column-gap: 18px;
    > li {
        width: calc((100% - 36px) / 3);
        background-color: #fff;
    }
    @include sp {
        margin-bottom: 0;
        row-gap: 19px;
        > li {
            width: 100%;
        }
    }
}
.problemTextBox {
    padding: 1.5em;
    @include sp {
        padding: 1em;
    }
    @include tab {
        padding: 1.2em;
    }
}
.problemImg {
    padding-bottom: 50%;
}
.problemTitle {
    font-size: f.myClamp(18, 20);
    font-weight: bold;
    line-height: 1.2;
    @include sp {
        letter-spacing: 0.07em;
    }
}
.problemNbBlock {
    position: absolute;
    top: -15px;
    left: -15px;
}
.problemNbText {
    font-size: f.myClamp(11, 15);
    line-height: 0.8;
    font-weight: bold;
}
.problemNbBox {
    width: 80px;
    height: 80px;
    background-color: $mainColor;
    border-radius: 50%;
    @include sp {
        width: 60px;
        height: 60px;
    }
}
.problemNb {
    font-size: f.myClamp(21, 28);
    line-height: 1.2;
    font-weight: bold;
}
.problemNbWrap {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrowWrap {
    width: 9%;
    margin-inline: auto;
    @include sp {
        width: 24%;
    }
    @include tab {
        width: 12%;
    }
}
.solutionBox {
    margin-top: -21px;
    width: 60%;
    margin-inline: auto;
    padding: 1.8em 2em;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px #fff;
    @include sp {
        padding: 1.8em 1em;
        width: 100%;
    }
    @include tabNote {
        width: 100%;
    }
}
.solutionText {
    font-size: f.myClamp(16, 20);
    line-height: 1.5;
    font-weight: 600;
    @include sp {
        line-height: 1.8;
    }
}
/*==================================================
 * 私たちの強み
 *================================================*/
.meritImgWrap {
    position: absolute;
    width: clamp(23px, 5vw, 100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sp {
        top: 49.5%;
        width: 23px;
    }
    @include tabNote {
        width: 33px;
    }
}

.meritList {
    column-gap: 42px;
    > li {
        width: calc((100% - 42px) / 2);
        padding: 0.5em 3em 2.5em;
        border: solid 1px $mainColor;
    }
    @media only screen and (max-width: 1500px) {
        > li {
            padding: 0 1.5em 3em;
        }
    }

    @include sp {
        row-gap: 61px;
        > li {
            &:not(:last-child) {
                position: relative;
                &::after {
                    @include content;
                    bottom: -36px;
                    left: 50%;
                    width: 23px;
                    height: 23px;
                    transform: translateX(-50%);
                    background-image: url(.././img/kakeru_sp.svg);
                    background-repeat: no-repeat;
                    background-size: 23px;
                }
            }
            width: 100%;
            padding: 1em 1.3em 1em;
        }
    }
    @include tabNote {
        column-gap: 20px;
        > li {
            width: calc((100% - 20px) / 2);
            padding: 1em 1em 2em;
        }
    }
}
.meritLogoWrap {
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translate(-50%);
    @include sp {
        width: 74%;
        top: -36px;
    }
    @include tabNote {
        width: 74%;
        top: -36px;
    }
}
.meritBoxWrap {
    @include tabNote {
        margin-bottom: 3%;
    }
}
.meritBox {
    width: 460px;
    padding: 0.6em 0.5em 0.5em;
    background-color: $mainColor;
    border-radius: 50px;
    margin-inline: auto;
    span {
        font-size: f.myClamp(15, 20);
        font-weight: 600;
        line-height: 1;
        color: #ffe600;
    }
    @include sp {
        span {
            letter-spacing: 0.06em;
        }
        width: 100%;
        padding: 0.4em 0.5em 0.3em;
    }
    @include tabNote {
        width: 100%;
    }
}
.meritTitle {
    font-size: f.myClamp(18, 30);
    line-height: 1.2;
    font-weight: bold;
}
.systemImgBlock {
    width: 50%;
    margin-right: 5%;
    @include spTab {
        width: 100%;
        margin-bottom: 5%;
    }
    @include note {
        width: 100%;
        margin-bottom: 5%;
    }
}
.systemInfoBlock {
    width: 45%;
    @include spTab {
        width: 100%;
    }
    @include note {
        width: 100%;
    }
}
.meritImg {
    padding-bottom: 33%;
}
.meritSubTitle {
    font-size: f.myClamp(16, 24);
    line-height: 1.2;
    font-weight: bold;
}
.systemlist {
    row-gap: 23px;
    flex-direction: column;
}
/*==================================================
 * contact
 *================================================*/
.conCard {
    padding: 2.5em 0 0;
    position: relative;
    &::after {
        @include content;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(.././img/contact_back.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2;
    }
    @include sp {
        padding: 2.5em 0 3.8em;
        &::after {
            height: 100%;
            background-image: url(.././img/contact_back_sp.jpg) !important;
        }
    }
}
.contactInner {
    max-width: 1300px;
    margin-inline: auto;
}
.conTitle {
    dt {
        font-size: f.myClamp(24, 50);
        line-height: 1.2;
        font-weight: bold;
        color: #fff;
    }
    dd {
        font-size: f.myClamp(36, 80);
        line-height: 1.2;
        font-weight: bold;
        color: $subColor;
    }
}
.conSubBox {
    width: fit-content;
    margin-inline: auto;
    position: relative;
    &::before,
    &::after {
        @include content;
        top: 71%;
        width: 14.5px;
        height: 26.5px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: 14.5px;
    }
    &::before {
        left: -28px;
        background-image: url(.././img/left.svg);
    }
    &::after {
        right: -28px;
        background-image: url(.././img/right.svg);
    }
}
.conSubText {
    font-size: f.myClamp(16, 22);
    line-height: 1.2;
    font-weight: bold;
    @include tabNote {
        margin-bottom: 10%;
    }
}
.conBtn {
    width: 500px;
    padding: 0.2em 2em 0.3em;
    color: $subColor;
    border-radius: 80px;
    font-size: f.myClamp(28, 50);
    line-height: 1;
    font-weight: bold;
    background: linear-gradient(to right, #af0000 0%, #e50000 100%);
    box-shadow: inset 0 -8px 8px -4px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    position: relative;
    &::after {
        @include content;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background: linear-gradient(to right, #480000 0%, #e50000 100%);
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.3s;
    }
    &:hover {
        color: #fff;
        background: #232323;
        &::after {
            top: 7px;
        }
    }
    @include sp {
        .overRayBlock & {
            padding: 0.2em 1em;
            font-size: 20px;
        }
        padding: 0.2em 4em 0.3em 1em;
    }
}
.conImgWrap {
    position: absolute;
    width: clamp(200px, 14vw, 268px);
    right: 0;
    bottom: 0;
    z-index: 1;
    @include sp {
        width: 40%;
        right: -4px;
        bottom: -23.5%;
    }
    @include tabNote {
        width: 22%;
    }
}
.commonSubTextWrap {
    margin-top: -26px;
    position: relative;
    z-index: 2;
    @include sp {
        margin-top: 0;
    }
    @include tab {
        margin-top: -28px;
    }
    @include note {
        margin-top: -24px;
    }
}
/*==================================================
 * 解決事例
 *================================================*/

.solutionList {
    position: relative;
    z-index: 2;
    column-gap: 85px;
    > li {
        display: flex;
        flex-direction: column;
        width: calc((100% - 85px) / 2);
    }
    @include sp {
        row-gap: 37px;
        > li {
            width: 100%;
        }
    }
    @include tabNote {
        column-gap: 20px;
        > li {
            flex-direction: column;
            width: calc((100% - 20px) / 2);
        }
    }
}
.solutionTitle {
    font-size: f.myClamp(16, 22);
    line-height: 1;
    font-weight: bold;
    color: $mainColor;
}
.solutionTableList {
    > li {
        width: 50%;
    }
    @include spTab {
        margin-bottom: 5%;
        > li {
            width: 100%;
        }
    }
    @include note {
        margin-bottom: 5%;
        > li {
            width: 100%;
        }
    }
}
.solutionTable {
    width: 100%;
    th,
    td {
        font-size: f.myClamp(15, 16);
        line-height: 1;
        padding: 1.1em 0.5em;
        text-align: left;
        border-top: solid 1px #bdbdbd;
    }
    th {
        width: 27%;
        color: $mainColor;
        font-weight: bold;
    }
    td {
        width: 73%;
        font-weight: 500;
    }
    @media only screen and (min-width: 1280px) and (max-width: 1600px) {
        th {
            width: 35%;
        }
    }
    @include spTab {
        .__second & {
            tr {
                &:last-child {
                    th,
                    td {
                        border-bottom: solid 1px #bdbdbd;
                    }
                }
            }
        }
        th {
            width: 24%;
        }
        th,
        td {
            padding: 0.8em 0;
        }
    }
    @include note {
        .__second & {
            tr {
                &:last-child {
                    th,
                    td {
                        border-bottom: solid 1px #bdbdbd;
                    }
                }
            }
        }
        th,
        td {
            padding: 0.8em 0;
        }
        th {
            width: 24%;
        }
    }
}
/*==================================================
 * 代表メッセージ
 *================================================*/
.PhiloBackImgWrap {
    position: absolute;
    top: -1240px;
    left: 0;
}
.subjectList {
    column-gap: 18px;
    > li {
        width: calc((100% - 18px) / 2);
        padding: 1.5em 1em;
        &:nth-child(1) {
            background-color: #f0f0f0;
        }
        &:nth-child(2) {
            background-color: #e5eaf1;
        }
    }
    @include spTab {
        row-gap: 11px;
        > li {
            width: 100%;
        }
    }
}
.subjectTitle {
    font-size: f.myClamp(16, 18);
    line-height: 1;
    font-weight: bold;
    color: $mainColor;
}
.subjectListImgWrap {
    position: absolute;
    width: 4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include spTab {
        top: 49%;
        width: 15%;
    }
}
.subjectBox {
    flex-grow: 1;
    padding: 1.2em;
    border: solid 3px #b2c1d6;
    background-color: #fff;
}

.topPhiloCard {
    margin-top: -6%;
    position: relative;
    &::after {
        @include content;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        width: 110%;
        height: 234px;
        clip-path: polygon(0 100%, 100% 0, 0 0);
    }
    @media only screen and (max-width: 1800px) {
        &::after {
            height: 200px;
        }
    }
    @include sp {
        margin-top: -21%;
        &::after {
            width: 100%;
            height: 66px;
        }
    }
    @include tabNote {
        &::after {
            height: 128px;
        }
    }
}
.philoInfoBlock {
    width: 50%;
    background-color: #f0f0f0;
    @include sp {
        width: 100%;
    }
    @include tabNote {
        width: 56%;
    }
}
.philoImg {
    width: 50%;
    padding-bottom: 43%;
    @include sp {
        width: 100%;
        padding-bottom: 54%;
        background-position: 50% 70%;
    }
}
.philoInfoTextBox {
    position: relative;
    z-index: 2;
}
.philoInfoBox {
    padding: 15em 3.5em 2em 18em;
    @media only screen and (max-width: 1800px) {
        padding: 15em 3.5em 2em 10em;
    }
    @media only screen and (max-width: 1500px) {
        padding: 15em 3.5em 2em 7em;
    }
    @include sp {
        padding: 10em 15px 2em 15px;
    }
    @include tabNote {
        padding: 10em 15px 2em 2em;
    }
}
.philoInfoTitleWrap {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-left: -34px;
}
/*==================================================
 * ご契約の流れ
 *================================================*/
.flowList {
    width: 62%;
    margin-inline: auto;
    row-gap: 28px;
    flex-direction: column;
    counter-reset: number;
    > li {
        counter-increment: number 1;
        border-radius: 7px;
        position: relative;
        background-color: #fff;
        &:not(:last-child) {
            &::after {
                @include content;
                bottom: -38px;
                left: 50%;
                width: 76px;
                height: 37px;
                transform: translateX(-50%);
                background-image: url(.././img/yajirushi_bl.svg);
                background-repeat: no-repeat;
                background-size: 76px;
                z-index: 2;
            }
        }
        &:nth-child(odd) {
            border: solid 1px #003277;
        }
        &:nth-child(even) {
            border: solid 1px #26a3ff;
        }
    }
    @include sp {
        row-gap: 16px;
        width: 100%;
        > li {
            &:not(:last-child) {
                &::after {
                    bottom: -25px;
                    width: 50px;
                    height: 25px;
                    background-size: 50px;
                }
            }
        }
    }
    @include tab {
        width: 90%;
    }
    @include note {
        width: 85%;
    }
}
.flowInnerBox {
    padding: 1.8em 0.5em;
    @include sp {
        padding: 1.5em 1.3em;
    }
}
.flowTitle {
    font-size: f.myClamp(18, 24);
    line-height: 1;
    font-weight: bold;
}
.flowNbBoxWrap {
    position: absolute;
    top: -12px;
    left: -12px;
    @include sp {
        left: unset;
        right: -12px;
    }
}

.flowNbBox {
    .__blue & {
        background-color: $mainColorSub;
    }
    width: 64px;
    height: 64px;
    background-color: $mainColor;
    border-radius: 50%;
    position: relative;
    &::after {
        @include content;
        content: "0" counter(number);
        font-size: f.myClamp(18, 30);
        color: #fff;
        font-weight: 700;
        line-height: 1;
        font-family: $fontEn;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @include sp {
        width: 40px;
        height: 40px;
    }
    @include tabNote {
        width: 55px;
        height: 55px;
    }
}
/*==================================================
 * ご契約の流れ
 *================================================*/
.topFaqCard {
    padding: 3em 0 4em;
    background-color: #f0f0f0;
    @include sp {
        padding: 1.5em 0 1.3em;
    }
}
.qaList {
    row-gap: 10px;
    flex-direction: column;
    > li {
        border-radius: 7px;
        background-color: #fff;
    }
}
.openBtn {
    cursor: pointer;
    padding: 2.3em 4.3em 2.3em 1.7em;
    position: relative;
    dt {
        font-size: f.myClamp(16, 20);
        margin-left: 1.6em;
        text-indent: -1.6em;
        line-height: 1.4;
        font-weight: bold;
        color: $mainColor;
    }
    &::before {
        opacity: 0;
    }
    transition: 0.3s ease-in-out;
    &::after,
    &::before {
        @include content;
        transition: 0.3s ease-in-out;
        top: 50%;
        right: 25px;
        width: 48px;
        height: 48px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: 48px;
    }
    &.__first {
        &::after {
            background-image: url(.././img/close.svg);
        }
        &::before {
            background-image: url(.././img/open.svg);
        }
    }
    &::after {
        background-image: url(.././img/open.svg);
    }
    &::before {
        background-image: url(.././img/close.svg);
    }
    &.on {
        &::before {
            opacity: 1;
        }
        &::after {
            opacity: 0;
        }
    }
    @include sp {
        padding: 1em 3.3em 1em 1em;
        &::after,
        &::before {
            top: 26px;
            width: 30px;
            height: 30px;
            background-size: 30px;
            right: 9px;
        }
    }
    @include tabNote {
        &::after,
        &::before {
            width: 40px;
            height: 40px;
            background-size: 40px;
            right: 21px;
        }
    }
}
.qaInner {
    .__first & {
        display: block;
    }
    display: none;
    background-color: #fff;
    padding: 2em 1.7em 2em 1.7em;
    position: relative;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    &::after {
        @include content;
        width: 96%;
        height: 1px;
        background-color: #bdbdbd;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .on & {
        display: block;
    }
    dt {
        font-size: f.myClamp(15, 16);
        line-height: 1.4;
        font-weight: 500;
    }
    @include sp {
        padding: 1.2em 0.3em 1.2em 1.2em;
        dd {
            padding: 0 1em 0 1em;
        }
    }
}

.topFormCard {
    background-color: $mainColor;
    padding: 2em 0 4.2em;
    @include sp {
        padding: 1.5em 0 1.5em;
    }
    @include tabNote {
        padding: 2em 0;
    }
}

.contactForm {
    margin-inline: auto;
    width: fit-content;
    padding: 2em 2em 1.7em;
    background-color: #fff;
    border-radius: 7px;
    @include sp {
        border-radius: 5px;
        padding: 1.3em 1em 1.7em;
    }
}

.confirmCard {
    padding: 2em 0;
    background-color: $mainColor;
}
