/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@use "function" as f;
@use "module" as *;

/*==================================================
 * 全サイト共通
 *================================================*/

/*共通部分*/
:root {
    --header: 100px;
    scroll-padding: var(--header);
}

//中央absolute
@mixin centerAbsolute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//疑似コンテンツ
@mixin content {
    content: "";
    display: block;
    position: absolute;
}
/*パンくず*/
/*パンくず終わり*/

@mixin vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-feature-settings: normal;
    white-space: nowrap;
}

.vertical {
    @include vertical();
}

.verticalReverse {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
}

.verticalPc {
    @include sp {
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    }
}

@mixin arrow {
    position: absolute;
    display: block;
    font-family: "Font Awesome 6 Pro";
}

//お問い合わせページには表示させる
.grecaptcha-badge {
    visibility: hidden;
}
.contact .grecaptcha-badge,
.contact_request .grecaptcha-badge {
    visibility: visible;
}

/*==================================================
 * 当サイトのみ共通
 *================================================*/
.loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    &.is-active {
        opacity: 0;
        visibility: hidden;
    }
}
.loadingInner {
    img {
        width: 130px;
    }
    @include sp {
        img {
            width: 100px;
        }
    }
}

.loading-animation {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background: linear-gradient(to bottom, #167bf7, #fff);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}
.loadTitle {
    font-size: f.myClamp(20, 40);
    letter-spacing: 0.1em;
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
}

address {
    font-style: normal;
}
.headerInner {
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    @include spTab {
        width: 100%;
    }
}
main {
    margin-top: 155px;
    .home & {
        margin-top: 108px;
    }
    @include sp {
        margin-top: 81px;
        .home & {
            margin-top: 0;
        }
    }
    @include tab {
        margin-top: 119px;
        .home & {
            margin-top: 0;
        }
    }
    @include note {
        margin-top: 127px;
        .home & {
            margin-top: 0;
        }
    }
}

.submit-btn input,
.submit-btn button {
    margin-top: 4%;
    width: 300px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $mainColorSub;
    border: solid 1px $mainColorSub;
    color: #fff;
    padding: 1em 4em;
    border-radius: 50px;
    font-size: 16px;
    display: inline-block;
    transition: 0.3s;
    letter-spacing: 0.2em;
    font-weight: 700;
    cursor: pointer;
    width: auto;
    &:hover {
        background: $mainColor;
        border: solid 1px $mainColor;
    }
    @include sp {
        font-size: 12px;
        letter-spacing: 0.08em;
        padding: 0 4em;
        height: 38px;
    }
    @include tab {
        font-size: 13px;
        line-height: 2;
        padding: 0 4em;
        height: 42px;
    }
}
.submit-back {
    margin-right: 7px;
}
.submit-next {
    input,
    button {
        color: #fff;
        background: $mainColor;
        border: solid 1px $mainColor;
        &:hover {
            background: $mainColorSub;
            border: solid 1px $mainColorSub;
        }
    }
    margin-left: 7px;
}

.boxSadow {
    box-shadow: 2px 1px 6px 1px rgb(0 0 0 / 6%);
}

.textSadow2 {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.textSadow {
    text-shadow:
        8px 8px 8px #fff,
        -8px -8px 8px #fff,
        -8px 8px 8px #fff,
        8px -8px 8px #fff,
        8px 0px 8px #fff,
        -8px 0px 8px #fff,
        0px 8px 8px #fff,
        0px -8px 8px #fff;
    @include sp {
        text-shadow:
            5px 5px 5px #fff,
            -5px -5px 5px #fff,
            -5px 5px 5px #fff,
            5px -5px 5px #fff,
            5px 0px 5px #fff,
            -5px 0px 5px #fff,
            0px 5px 5px #fff,
            0px -5px 5px #fff;
    }
}

.commonTitleWrap {
    .topPhiloCard & {
        top: 79%;
        left: 50%;
    }
    position: absolute;
    width: 100%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.commonTitleJp {
    font-size: f.myClamp(20, 40);
    line-height: 1.4;
    font-weight: bold;
}
.commonTitleEn {
    .topPhiloCard & {
        color: #fff;
        margin-left: -38px;
    }
    .topFormCard & {
        color: #fff;
        opacity: 0.2;
    }
    .topFaqCard & {
        color: #fff;
    }

    font-size: f.myClamp(30, 150);
    font-weight: 700;
    font-family: $fontEn;
    line-height: 1;
    color: #e5eaf1;
}
.commonSubText {
    &.__small {
        font-size: f.myClamp(15, 16);
        line-height: 1.6;
    }
    font-size: f.myClamp(16, 18);
    line-height: 1;
    font-weight: 600;
}

.commonBtn {
    font-size: f.myClamp(13, 14);
    font-weight: 500;
    text-align: center;
    display: block;
    letter-spacing: 0.2em;
    line-height: 1;
    color: #fff;
    width: 184px;
    background-color: $mainColorSub;
    padding: 1em 0.5em;
    border-radius: 50px;
    line-height: 1;
    transition: 0.3s;
    font-weight: 500;
    &:hover {
        background-color: $mainColor;
        color: #fff;
    }
}

.commonMidashi_1 {
    font-size: f.myClamp(18, 30);
    padding: 0.6em 0 0.6em 1em;
    font-weight: 500;
    display: block;
    color: #fff;
    position: relative;
    &::after {
        @include content;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        background-image: url(.././img/title.png);
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }
}

.commonText {
    &.__lh {
        line-height: 2;
    }
    font-size: f.myClamp(15, 16);
    font-weight: 500;
    line-height: 1.6;
}
.textComent {
    text-indent: 1em;
    margin-left: 1em;
    font-size: f.myClamp(13, 14);
    line-height: 1.4;
}
.commonComent {
    line-height: 1.3;
    letter-spacing: 0.07em;
    font-size: f.myClamp(12, 13);
    &.__top {
        margin-top: 5px;
    }
}
.textLink {
    transition: 0.3s;
    &:hover {
        opacity: 0.7;
    }
}
.alink {
    text-decoration: underline;
    text-underline-offset: 3px;
    &.footerLink {
        color: #abadc6;
        text-decoration-color: #abadc6;
    }
    color: $mainColor;
    -webkit-text-decoration-color: $mainColor;
    text-decoration-color: $mainColor;
    transition: 0.3s;
    &:hover {
        color: $grayColor;
        -webkit-text-decoration-color: unset;
        text-decoration-color: unset;
    }
}
ul {
    list-style-type: disc !important;
}
.comment {
    &.__large {
        font-size: f.myClamp(15, 17);
        line-height: 1.6;
        text-indent: -0.7em;
        padding-left: 0.9em;
    }
    &.__small {
        font-size: f.myClamp(13, 14);
        line-height: 1.2;
        text-indent: -0.7em;
        padding-left: 0.9em;
    }

    font-size: f.myClamp(15, 16);
    line-height: 1.6;
    text-indent: -1.2em;
    padding-left: 1.4em;
}
.text_Indent {
    text-indent: -1.5em;
    padding-left: 3.5em;
}
.text_link {
    text-decoration: underline;
    color: $mainColor;
    transition: 0.3s;
    &:hover {
        color: $mainColorSub;
    }
}

.commonList {
    row-gap: 10px;
    flex-direction: column;
    span {
        display: block;
        font-size: f.myClamp(14, 15);
        line-height: 1.4;
        font-weight: 500;
        position: relative;
        padding-left: 0.8em;
        &::after {
            @include content;
            left: 0;
            top: 8px;
            width: 8px;
            height: 8px;
            background-color: $mainColor;
            border-radius: 50%;
        }
    }
}
.commontitle_line span {
    background: linear-gradient(transparent 65%, rgb(255, 241, 0) 0%);
}
.center_position {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.commonTable {
    width: 100%;
    &.__sh {
        width: 800px;
        th,
        td {
            padding: 0.4em 0.5em;
        }
        th {
            width: 26%;
        }
    }
    th,
    td {
        .mahBlock & {
            font-size: f.myClamp(16, 18);
        }
        font-size: f.myClamp(15, 16);
        line-height: 1.8;
        padding: 0.8em 0.5em;
    }
    td {
        border-top: solid 1px #d6d6d6;
    }
    tr {
        .mahBlock & {
            &:nth-child(1) {
                th {
                    border-top: solid 1px $mainColorSub;
                }
            }
        }
    }
    th {
        .mahBlock & {
            font-weight: 600;
        }
        width: 20%;
        color: $mainColor;
        font-weight: 500;
        text-align: left;
        border-bottom: solid 1px $mainColor;
    }
    tr {
        &:first-child {
            td {
                border-top: solid 1px #d6d6d6;
            }
            th {
                border-top: solid 1px $mainColor;
            }
        }
        &:last-child {
            td {
                border-bottom: solid 1px #d6d6d6;
            }
            th {
                border-bottom: solid 1px $mainColor;
            }
        }
    }
    @include sp {
        th,
        td {
            display: block;
            width: 100%;
        }
        tr {
            &:first-child {
                th {
                    .mahBlock & {
                        margin-top: 0;
                    }
                }
            }
        }
        td {
            padding: 0.3em 0 0 0;
            margin-bottom: 6%;
            .mahBlock & {
                margin-bottom: 0;
            }
        }
        th {
            .mahBlock & {
                margin-top: 8%;
            }
            background-color: $mainColor;
            color: #fff;
            padding: 0.5em;
        }
        tr {
            &:last-child {
                td,
                th {
                    border-bottom: unset;
                }
            }
        }
    }
    @include tabNote {
        &.__width {
            th {
                width: 26%;
            }
        }
    }
}
.back_white {
    background-color: #fff;
    padding: 4em 0;
    @include sp {
        padding: 2em 0;
    }
    @include tab {
        padding: 3em 0;
    }
}
.back_white2 {
    background-color: #fff;
    padding: 7em 0;
    @include sp {
        padding: 3em 0;
    }
    @include tabNote {
        padding: 4em 0;
    }
}

.menuList {
    &.__inline {
        &.__small {
            > li {
                > a {
                    width: 230px;
                    font-size: f.myClamp(15, 16);
                }
            }
        }
        > li {
            > a {
                color: $mainColor;
                background-color: $mainColorSub;
                width: 350px;
                &::after {
                    transition: 0.3s;
                    position: absolute;
                    display: block;
                    font-family: "Font Awesome 6 Pro";
                    content: "\f107";
                    font-size: 12px;
                    top: unset;
                    left: 50%;
                    bottom: 5px;
                    transform: translateX(-50%);
                }
                &:hover {
                    background-color: $mainColor;
                    opacity: 1;
                    color: #fff;
                    &::after {
                        color: #fff;
                        bottom: 0;
                    }
                }
            }
        }
    }

    > li {
        > a {
            display: block;
            font-size: f.myClamp(13, 14);
            font-weight: 500;
            line-height: 1;
            color: #fff;
            text-align: center;
            width: 250px;
            padding: 1.5em 0.5em;
            border-radius: 50px;
            margin: 10px 4px;
            background-color: $mainColor;
            position: relative;
            transition: 0.3s;
            &::after {
                transition: 0.3s;
                position: absolute;
                display: block;
                font-family: "Font Awesome 6 Pro";
                content: "\f138";
                font-weight: bold;
                font-size: 20px;
                right: 12px;
                top: 50%;
                bottom: 5px;
                transform: translateY(-50%);
            }
            &:hover {
                opacity: 0.7;
                &::after {
                    right: 8px;
                }
            }
        }
    }
    @include sp {
        &.__inline {
            > li {
                > a {
                    padding: 1.2em 0.5em;
                    &::after {
                        bottom: 3px;
                    }
                }
            }
        }
        > li {
            > a {
                margin: 6px 0;
                padding: 1.5em 0.5em;
                width: 236px;
            }
        }
    }
    @include tab {
        > li {
            > a {
                width: 230px;
            }
        }
    }
}
.videoBlock {
    width: 70%;
    margin-inline: auto;
    @include sp {
        width: 100%;
    }
    @include tab {
        width: 80%;
    }
    @include note {
        width: 90%;
    }
}
.videoWrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*==================================================
 * slider
 *================================================*/
.topSlider {
    img {
        border-radius: 10px;
        margin: 0 20px;
    }
    @include sp {
        img {
            margin: 0 10px;
        }
    }
    @include tabNote {
        img {
            margin: 0 10px;
        }
    }
}
/*==================================================
 * ヘッダー
 *================================================*/
.cf7msm-ro {
    text-transform: none !important;
}
header {
    position: fixed;
    top: 0; /* margin-top の代わりに top を使う */
    z-index: 998;
    width: 100%;
    padding: 3.6em 2em;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
    .change-color & {
        padding: 2.4em 2em;
    }
    @include sp {
        top: 19px;
        left: 19px;
        width: 30%;
        transform: unset;
        padding: 2.2em 1em;
        .open & {
            width: 93%;
            left: 50%;
            transform: translateX(-50%);
        }
        .change-color & {
            transform: translateX(-50%);
            left: 50%;
            width: 98%;
            padding: 2em 1em;
        }
    }
    @include tabNote {
        width: 95.5%;
        padding: 2.6em 2em;
    }
}

.ahover {
    transition: 0.3s;
    a:hover & {
        opacity: 0.7;
    }
}

.headerlogoBlock {
    position: absolute;
    top: 17px;
    width: 450px;
    background-color: #fff;
    padding: 0.5em 0.5em 0.1em;
    border-radius: 5px;
    left: 85px;
    transition: 0.3s;
    .change-color & {
        top: 10px;
        width: 300px;
    }
    @include sp {
        top: 8px;
        left: 26px;
        width: 61px;
        .change-color & {
            top: 5px;
            left: 26px;
            width: 61px;
        }
    }
    @include tabNote {
        left: 25px;
        top: 7px;
        width: 77px;
    }
}
.logoImg {
    .change-color & {
        &.__white {
            display: none;
        }
        &.__black {
            display: block;
        }
    }
    @include sp {
        &.__white {
            display: none !important;
        }
        &.__black {
            display: block;
        }
        .home & {
            &.__black {
                display: block;
            }
        }
    }
}
.headerTopMenuBlock {
    position: absolute;
    top: 18px;
    right: 88px;
    .change-color & {
        top: 5px;
    }
}
.topContactWrap {
    column-gap: 21px;
    .change-color & {
        margin-bottom: 0;
    }
}
.topBtn {
    display: block;
    font-size: f.myClamp(14, 15);
    line-height: 1;
    font-weight: bold;
    padding: 0.7em 1.2em 0.9em;
    border-radius: 50px;
    color: #fff;
    background-color: #e50000;
    transition: 0.3s;
    .change-color & {
        font-size: f.myClamp(13, 14);
        padding: 0.5em 1em 0.7em;
    }
    &:hover {
        color: #fff;
        background-color: $mainColor;
    }
}
.topTel {
    font-size: f.myClamp(30, 40);
    font-weight: 900;
    line-height: 1;
    font-family: $fontEn;
    color: $mainColor;
    position: relative;
    transition: 0.3s;
    .change-color & {
        font-size: f.myClamp(18, 25);
        &::after {
            width: 20px;
            height: 22px;
            left: -25px;
            background-size: 20px;
        }
    }
    &::after {
        @include content;
        top: 50%;
        left: -42px;
        width: 32px;
        height: 35px;
        transform: translateY(-50%);
        background-image: url(.././img/tel.svg);
        background-repeat: no-repeat;
        background-size: 32px;
    }
}
@mixin sankaku {
    background-color: #eaebf1;
    .home & {
        background-color: $mainColor;
    }
    width: 10px;
    height: 8px;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
.headerMenuCard {
    > li {
        transition: 0.3s;
        &:last-child {
            > a {
                padding-right: 0;
            }
        }
        &.current {
            > a {
                color: $mainColorSub;
            }
        }
        > a {
            display: inline-block;
            letter-spacing: 0.15em;
            font-size: f.myClamp(14, 15);
            text-align: center;
            display: block;
            font-weight: bold;
            line-height: 1;
            padding: 0.5em 1em;
            transition: 0.3s;
            &:hover {
                color: $mainColorSub;
            }
        }
    }
    .change-color & {
        > li {
            > a {
                padding: 0.5em 0.7em;
            }
        }
    }
    @include note {
        > li {
            > a {
                font-size: 14px;
                padding: 0.7em 0.5em;
            }
        }
    }
}

.overRayMenuUl {
    //color: #fff;
    margin-bottom: 13%;
    > li {
        position: relative;
        font-size: 16px;
        padding: 2rem 0.8rem;
        font-weight: 500;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-color: #fff;
        }
        a {
            display: block;
            transition: 0.3s;
            position: relative;
            font-weight: 500;
            &::before,
            &::after {
                position: absolute;
                display: block;
                font-family: "Font Awesome 6 Pro";
                font-size: 20px;
                line-height: 1;
                width: 25px;
                height: 25px;
                top: 50%;
                right: -7px;
                transform: translateY(-50%);
                font-weight: 100;
                z-index: 1;
                // transform: translateZ(1px);
                transition: 0.3s;
                opacity: 1;
            }
            &::before {
                content: "\f105";
                right: -7px;
            }
            &.hasMegaMenuA {
                &::before {
                    content: "\f107";
                    right: -5px;
                }
                &.on {
                    padding-bottom: 5%;
                    &::after {
                        content: "\f077";
                        right: -5px;
                    }
                    &::before {
                        opacity: 0;
                    }
                }
            }

            &:hover {
                opacity: 0.5;
            }
            > ul {
                &:not(:last-child) {
                    > li {
                        padding: 30em;
                    }
                }
            }
        }
    }
    @include tab {
        > li {
            padding: 1.6rem 1rem;
        }
    }
}
.headerBtnList {
    > li {
        &:nth-child(1) {
            margin-bottom: 5%;
        }
    }
}
.megaMenue {
    > li {
        font-size: 16px;
    }
}
.splist {
    display: none;
    background-color: #fff;
    width: 105%;
    margin-left: -2.5%;
    > li {
        font-size: 15px;
        padding: 0.5em;
        &:not(:last-child) {
            border-bottom: solid 1px $mainColor;
        }
        > a {
            color: $mainColor;
            &::before {
                right: -9px !important;
            }
            &:hover {
                &::before {
                    right: -15px !important;
                }
            }
            &.__none {
                &::before {
                    display: none;
                }
            }
        }
    }
}
.splistList {
    margin-top: 7px;
    > li {
        margin-bottom: 8px;
        > a {
            font-size: 15px;
            padding-left: 1em;
            font-weight: 300;
            color: $mainColor;
            transition: 0.3s;
            position: relative;
            &::after {
                right: 0 !important;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.hasMegaMenuLiList {
    display: none;
    &.hasMegaMenuBack {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 110%;
            height: 102.3%;
            top: 0;
            left: -5%;
            padding: 0 5%;
            background: rgb(0 0 0 / 8%);
            z-index: -1;
        }
    }
    > li {
        &:last-child {
            padding: 0.6em 0 0;
        }
        padding: 0.6em 0;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 105%;
            height: 1px;
            background-color: rgb(0 0 0 / 8%);
            left: -0.5em;
            top: 0;
        }
    }
}
.overRayBlock {
    display: flex;
    width: 442px;
    margin-left: auto;
    // height: 100vh;
    overflow-y: scroll;
    position: relative;
    z-index: 9999;
    @include sp {
        width: 100%;
    }
}
.overRayImgCard {
    width: 50%;
    @include sp {
        width: 30%;
    }
}
.overRayTextCard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    overflow-y: scroll;
    padding: 0 15px 70px;
    background-color: $mainColor;
    @include maxSpTab {
        padding-top: 33px;
    }
    @include sp {
        width: 100%;
        padding: 93px 22px 0;
        padding-bottom: 30%;
    }
}

/*==================================================
 * header
 *================================================*/
.topFvImg {
    padding-bottom: clamp(300px, 42%, 806px);
    position: relative;
    z-index: -2;
    @include sp {
        padding-bottom: 174%;
        background-image: url(.././img/topFv_sp.jpg) !important;
    }
}
.topFvTextWrap {
    position: absolute;
    top: 17em;
    right: 0;
    @include sp {
        top: 8.7em;
        left: 50%;
        right: unset;
        transform: translateX(-50%);
    }
    @include tab {
        top: 12em;
        right: 42px;
    }
}
.topFvWrap {
    max-width: 886px;
    padding: 0 97px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.topAwardBlock {
    width: 57%;
    margin-inline: auto;
}
.topFvTitle {
    font-size: f.myClamp(30, 57);
    line-height: 1.3;
    font-weight: 600;
}
.toplogoBlock {
    width: 646px;
    background-color: #fff;
    padding: 1em 1em;
    border-radius: 5px;
}
.topFvBtnWrap {
    position: absolute;
    padding: 0 87px;
    right: 0;
    bottom: 15%;
}
.topFvBtn {
    display: block;
    font-size: f.myClamp(20, 37);
    padding: 0.5em 3.6em 0.7em 1em;
    border-radius: 50px;
    background: linear-gradient(to right, #af0000 0%, #e50000 100%);
    line-height: 1;
    font-weight: bold;
    transition: 0.3s;
    &::after {
        @include content;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background: linear-gradient(to right, #480000 0%, #e50000 100%);
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.3s;
    }
    sub {
        color: #ffe600;
        font-weight: bold;
        line-height: 1;
    }
    &:hover {
        color: #fff;
        background: #232323;
        &::after {
            top: 7px;
        }
    }
}
.topbtnImgWrap {
    position: absolute;
    width: 279px;
    top: -73px;
    right: 0;
    z-index: 0;
}
/*==================================================
 * pagenation*/

:root {
    --swiper-theme-color: #fff;
}

/*==================================================
 * フッター
 *================================================*/
footer {
    background-color: #fff;
    padding: 3em 0 0;
    @include sp {
        padding: 2em 0 0;
    }
}
.footerWrap {
    @include spTab {
        display: block;
    }
}
.footerBlock {
    padding-top: 3em;
    margin-bottom: 2.6em;
    position: relative;
    &::after {
        @include content;
        width: 100%;
        background: #d6d6d6;
        height: 1px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    @include sp {
        padding-top: 2.5em;
        &::after {
            width: 90%;
        }
    }
}
.footerlogoImg {
    width: 105px;
    @include sp {
        margin-inline: auto;
        margin-bottom: 7%;
    }
    @include tab {
        margin-inline: auto;
        margin-bottom: 5%;
    }
}

.footerBtn {
    cursor: pointer;
    position: fixed;
    right: 0.6%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $mainColorSub;
    transition: 0.3s;
    z-index: 9999;
    display: none;
    &.visible {
        display: block;
    }
    &::after {
        @include arrow;
        content: "\f077";
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @include maxSpTab {
        display: none !important;
    }
}
.footerTitle {
    color: $mainColor;
    font-size: f.myClamp(15, 16);
    line-height: 1;
}
.footerMenueList2 {
    > li {
        line-height: 2.2;
        > a {
            color: $mainColor;
            font-size: f.myClamp(14, 16);
            font-weight: 500;
            display: block;
            transition: 0.3s;
            &.__no {
                &:hover {
                    opacity: 1;
                }
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
    @include sp {
        > li {
            > a {
                font-size: 16px;
            }
        }
        margin-bottom: 0;
    }
}

.footerMenueBlock {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.8fr 1fr;
    column-gap: 15px;
    > li {
        position: relative;
        padding: 0.3em 0 0.4em 1.3em;
    }
    @include sp {
        width: fit-content;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1.2fr 1.2fr;
        > li {
            padding: 0.3em 0;
            letter-spacing: 0.04em;
        }
    }
    @include tab {
        width: fit-content;
        margin-inline: auto;
    }
}
.footerMenueList {
    > li {
        line-height: 2;
        transition: 0.3s;
        > a {
            display: block;
            font-size: 12px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.footerCopy {
    padding: 8px 0;
    background-color: $mainColor;
    @include sp {
        margin-top: 0;
        padding: 10px 0;
    }
}
.copylight {
    font-size: 12px;
    font-weight: 400;
    color: #c1dce5;
    letter-spacing: 0.08em;
}
.footerMenueList {
    > li {
        position: relative;
        > a {
            span {
                font-size: f.myClamp(15, 16);
            }
        }
    }
}
/*==================================================
 * 下層section
 *================================================*/
/*トップページ
*================================================*/
.commonFvCard {
    position: relative;
    padding-bottom: clamp(100px, 10%, 192px);
    border-bottom: solid 1px #d6d6d6;
}
.commonFvTextWrap {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.commonFvTitle {
    font-size: f.myClamp(26, 40);
    white-space: nowrap;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: $mainColor;
}
.commonFVTitleJp {
    font-size: f.myClamp(18, 20);
    margin-left: 20px;
    margin-top: 4px;
    line-height: 1;
}
.breadBrock {
    padding: 1em 0 2em;
    @include sp {
        padding: 1em 0;
    }
}
.breadcrumbs {
    font-size: 12px;
    font-weight: 500;
    .current-item {
        color: $mainColor;
    }
    a {
        transition: 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
    @include sp {
        font-size: 13px;
    }
}
.topVideoWrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*==================================================
 * よくある問題
 *================================================*/
.topProblemInnerBlock {
    padding: 4em 0;
}
.problemList {
    column-gap: 18px;
    > li {
        width: calc((100% - 36px) / 3);
        background-color: #fff;
    }
}
.problemTextBox {
    padding: 1.5em;
}
.problemImg {
    padding-bottom: 50%;
}
.problemTitle {
    font-size: f.myClamp(18, 20);
    font-weight: bold;
    line-height: 1;
}
.problemNbBlock {
    position: absolute;
    top: -15px;
    left: -15px;
}
.problemNbText {
    font-size: f.myClamp(14, 15);
    line-height: 0.8;
    font-weight: bold;
}
.problemNbBox {
    width: 80px;
    height: 80px;
    background-color: $mainColor;
    border-radius: 50%;
}
.problemNb {
    font-size: f.myClamp(20, 28);
    line-height: 1.2;
    font-weight: bold;
}
.problemNbWrap {
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrowWrap {
    width: 9%;
    margin-inline: auto;
}
.solutionBox {
    margin-top: -21px;
    width: 60%;
    margin-inline: auto;
    padding: 1.8em 2em;
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px #fff;
}
.solutionText {
    font-size: f.myClamp(18, 20);
    line-height: 1.5;
    font-weight: 600;
}
/*==================================================
 * 私たちの強み
 *================================================*/
.meritImgWrap {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meritList {
    column-gap: 42px;
    > li {
        width: calc((100% - 42px) / 2);
        padding: 0 3em 3em;
        border: solid 1px $mainColor;
    }
}
.meritLogoWrap {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translate(-50%);
}
.meritBox {
    width: 460px;
    padding: 0.6em 0.5em 0.5em;
    background-color: $mainColor;
    border-radius: 50px;
    margin-inline: auto;
    span {
        font-size: f.myClamp(18, 20);
        font-weight: 600;
        line-height: 1;
        color: #ffe600;
    }
}
.meritTitle {
    font-size: f.myClamp(20, 30);
    line-height: 1.2;
    font-weight: bold;
}
.systemImgBlock {
    width: 50%;
    margin-right: 5%;
}
.systemInfoBlock {
    width: 45%;
}
.meritImg {
    padding-bottom: 33%;
}
.meritSubTitle {
    font-size: f.myClamp(18, 24);
    line-height: 1.2;
    font-weight: bold;
}
.systemlist {
    row-gap: 23px;
    flex-direction: column;
}
/*==================================================
 * contact
 *================================================*/
.conCard {
    padding: 2.5em 0;
    position: relative;
    &::after {
        @include content;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(.././img/contact_back.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -2;
    }
}
.conTitle {
    dt {
        font-size: f.myClamp(30, 50);
        line-height: 1.2;
        font-weight: bold;
        color: #fff;
    }
    dd {
        font-size: f.myClamp(30, 80);
        line-height: 1.2;
        font-weight: bold;
        color: $subColor;
    }
}
.conSubBox {
    width: fit-content;
    margin-inline: auto;
    position: relative;
    &::before,
    &::after {
        @include content;
        top: 62%;
        width: 14.5px;
        height: 26.5px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: 14.5px;
    }
    &::before {
        left: -28px;
        background-image: url(.././img/left.svg);
    }
    &::after {
        right: -28px;
        background-image: url(.././img/right.svg);
    }
}
.conSubText {
    font-size: f.myClamp(18, 22);
    line-height: 1.2;
    font-weight: bold;
}
.conBtn {
    width: 500px;
    padding: 0.2em 2em 0.3em;
    color: $subColor;
    border-radius: 80px;
    font-size: f.myClamp(45, 50);
    line-height: 1;
    font-weight: bold;
    background: linear-gradient(to right, #af0000 0%, #e50000 100%);
    box-shadow: 2px 1px 6px 5px rgb(0 0 0 / 0.3);
    transition: 0.3s;
    position: relative;
    &::after {
        @include content;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background: linear-gradient(to right, #480000 0%, #e50000 100%);
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.3s;
    }
    &:hover {
        color: #fff;
        background: #232323;
        &::after {
            top: 7px;
        }
    }
}
.conImgWrap {
    position: absolute;
    width: 20%;
    right: 33px;
    top: 22px;
}
.commonSubTextWrap {
    margin-top: -37px;
    position: relative;
    z-index: 2;
}
/*==================================================
 * 解決事例
 *================================================*/

.solutionList {
    position: relative;
    z-index: 2;
    column-gap: 85px;
    > li {
        display: flex;
        flex-direction: column;
        width: calc((100% - 85px) / 2);
    }
}
.solutionTitle {
    font-size: f.myClamp(18, 22);
    line-height: 1;
    font-weight: bold;
    color: $mainColor;
}
.solutionTableList {
    > li {
        width: 50%;
    }
}
.solutionTable {
    width: 100%;
    th,
    td {
        font-size: f.myClamp(15, 16);
        line-height: 1;
        padding: 1.1em 0.5em;
        text-align: left;
        border-top: solid 1px #bdbdbd;
    }
    th {
        width: 27%;
        color: $mainColor;
        font-weight: bold;
    }
    td {
        width: 73%;
        font-weight: 500;
    }
}
/*==================================================
 * 代表メッセージ
 *================================================*/
.PhiloBackImgWrap {
    position: absolute;
    top: -1240px;
    left: 0;
}
.subjectList {
    column-gap: 18px;
    > li {
        width: calc((100% - 18px) / 2);
        padding: 1.5em 1em;
        &:nth-child(1) {
            background-color: #f0f0f0;
        }
        &:nth-child(2) {
            background-color: #e5eaf1;
        }
    }
}
.subjectTitle {
    font-size: f.myClamp(16, 18);
    line-height: 1;
    font-weight: bold;
    color: $mainColor;
}
.subjectListImgWrap {
    position: absolute;
    width: 4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subjectBox {
    flex-grow: 1;
    padding: 1.2em;
    border: solid 3px #b2c1d6;
    background-color: #fff;
}

.topPhiloCard {
    margin-top: -6%;
    position: relative;
    &::after {
        @include content;
        top: -52px;
        left: 50%;
        width: 1920px;
        height: 266px;
        transform: translateX(-50%);
        background-image: url(.././img/white_back.svg);
        background-repeat: no-repeat;
        background-size: 1920px;
    }
}
.philoInfoBlock {
    width: 50%;
    background-color: #f0f0f0;
}
.philoImg {
    width: 50%;
    padding-bottom: 43%;
}
.philoInfoBox {
    padding: 15em 3.5em 2em 18em;
}
.philoInfoTitleWrap {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-left: -34px;
}
/*==================================================
 * ご契約の流れ
 *================================================*/
.flowList {
    width: 62%;
    margin-inline: auto;
    row-gap: 28px;
    flex-direction: column;
    counter-reset: number;
    > li {
        counter-increment: number 1;
        border-radius: 7px;
        position: relative;
        background-color: #fff;
        &:not(:last-child) {
            &::after {
                @include content;
                bottom: -38px;
                left: 50%;
                width: 76px;
                height: 37px;
                transform: translateX(-50%);
                background-image: url(.././img/yajirushi_bl.svg);
                background-repeat: no-repeat;
                background-size: 76px;
                z-index: 2;
            }
        }
        &:nth-child(odd) {
            border: solid 1px #003277;
        }
        &:nth-child(even) {
            border: solid 1px #26a3ff;
        }
    }
}
.flowInnerBox {
    padding: 1.8em 0.5em;
}
.flowTitle {
    font-size: f.myClamp(20, 24);
    line-height: 1;
    font-weight: bold;
}
.flowNbBoxWrap {
    position: absolute;
    top: -12px;
    left: -12px;
}

.flowNbBox {
    .__blue & {
        background-color: $mainColorSub;
    }
    width: 64px;
    height: 64px;
    background-color: $mainColor;
    border-radius: 50%;
    position: relative;
    &::after {
        @include content;
        content: "0" counter(number);
        font-size: f.myClamp(20, 30);
        color: #fff;
        font-weight: 700;
        line-height: 1;
        font-family: $fontEn;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/*==================================================
 * ご契約の流れ
 *================================================*/
.topFaqCard {
    padding: 3em 0 4em;
    background-color: #f0f0f0;
}
.qaList {
    row-gap: 10px;
    flex-direction: column;
    > li {
        border-radius: 7px;
        background-color: #fff;
    }
}
.openBtn {
    cursor: pointer;
    padding: 2.3em 4.3em 2.3em 1.7em;
    position: relative;
    dt {
        font-size: f.myClamp(18, 20);
        line-height: 1;
        font-weight: bold;
        color: $mainColor;
    }
    &::before {
        opacity: 0;
    }
    transition: 0.3s ease-in-out;
    &::after,
    &::before {
        @include content;
        transition: 0.3s ease-in-out;
        top: 50%;
        right: 25px;
        width: 48px;
        height: 48px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: 48px;
    }
    &.__first {
        &::after {
            background-image: url(.././img/open.svg);
        }
        &::before {
            background-image: url(.././img/close.svg);
        }
    }
    &::after {
        background-image: url(.././img/close.svg);
    }
    &::before {
        background-image: url(.././img/open.svg);
    }
    &.on {
        &::before {
            opacity: 1;
        }
        &::after {
            opacity: 0;
        }
    }
    @include sp {
        padding: 1em 0.5em 1em 1em;
        &::after,
        &::before {
            top: 28px;
            width: 48px;
            height: 48px;
            background-size: 48px;
            right: 9px;
        }
    }
}
.qaInner {
    .__first & {
        display: block;
    }
    display: none;
    background-color: #fff;
    padding: 2em 1.7em 2em 1.7em;
    position: relative;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    &::after {
        @include content;
        width: 96%;
        height: 1px;
        background-color: #bdbdbd;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .on & {
        display: block;
    }
    dt {
        font-size: f.myClamp(15, 16);
        line-height: 1.4;
        font-weight: 500;
    }
    @include sp {
        padding: 1.2em 0.3em 1.2em 1.2em;
        dd {
            padding: 0 1em 0 1em;
        }
    }
}

.topFormCard {
    background-color: $mainColor;
    padding: 2em 0;
}

.contactForm {
    margin-inline: auto;
    width: fit-content;
    padding: 2em;
    background-color: #fff;
    border-radius: 7px;
}
